@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-100);
    min-height: 100vh;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
